<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./components/head') %>
  <style>
    button {
      color: var(--c1);
    }
    a { text-decoration: none; }
  </style>
</head>
<body>
  <%- include ('./components/loader') %>

  <div class="wrapper">
    <%- app %>

    <%- include ('./components/footer') %>
  </div>

  <%- include ('./components/particules') %>

  <script src="./js/main.js"></script>
</body>
</html>