<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./components/head') %>
  <link rel="stylesheet" href="./css/user.css">
</head>
<body>
  <%- include ('./components/loader') %>

  <div class="wrapper">
    <div class="navbar">
      <%- userImage %>
      
      <h1><%- username %></h1>
      
      <select>
        <% servers.forEach((g) => { %>
          <option value="<%= g.id %>"><%= g.name %></option>
        <% }); %>
      </select>
    </div>

    <div class="center">
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Commands')">Commands</button>
        <button class="tablinks" onclick="openTab(event, 'Config')">Config</button>
      </div>

      <%- include('./components/commands') %>

      <%- include('./components/config') %>
    </div>

    <%- include ('./components/footer') %>

  </div>

  <%- include ('./components/particules') %>

  <script src="./js/user.js"></script>
</body>
</html>